{% extends 'base.html' %} {% block content %}

<style>
  .name {
    padding: 20px 0;
    background-color: #ddd;
    margin: 10px 0;
    padding-left: 10px;
  }
</style>

<section class="ftco-section bg-light" id="cards">
  <div class="container card-styles">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="icon-wrap px-4 pt-4">
            <div
              class="icon d-flex justify-content-center align-items-center bg-info rounded-circle"
            >
              <span class="ion-logo-ionic text-light"></span>
            </div>
          </div>
          <div class="card-body pb-5 px-4">
            {% for lead in leads %}
            <h5 class="card-title name">{{ lead.name }} {{ lead.last_name }}</h5>
            <a href="/{{ lead.pk }}/" class="btn btn-info">Go to details</a>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Unassigned leads lists -->
{% if unassigned_leads.exists %}
<h1 class="p-4">Unassigned Agents</h1>
<section class="ftco-section bg-light" id="cards">
  <div class="container card-styles">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="icon-wrap px-4 pt-4">
            <div
              class="icon d-flex justify-content-center align-items-center bg-info rounded-circle"
            >
              <span class="ion-logo-ionic text-light"></span>
            </div>
          </div>
          <div class="card-body pb-5 px-4">
            {% for lead in unassigned_leads %}
            <h5 class="card-title name">{{ lead.name }} {{ lead.last_name }}</h5>
            <a href="{% url 'lead:assign_agent' lead.pk %}" class="btn btn-info">Go to details</a>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endif %}
<!-- - - - - -end- - - - -  -->

{% endblock content %}
