{% extends 'base.html' %}
{% block content %}
  <style>
    .lead_info a {
      width: 100%;
      background-color: rgba(87, 79, 79, 0.5);
      padding: 20px 20px;
      display: block;
      margin-top: 10px;
      text-decoration: none;
      font-family: sans-serif;
      font-size: 21px;
      color: #444;
    }
  </style>
    <div class="lead_info container">
      <a href="/create/">Sign up for a new user</a>
      <h2>My system Users</h2>
      {% for lead in leads %}
        <a href="/{{ lead.pk }}/">{{ lead.name }} {{ lead.last_name }}</a>
      {% endfor %}
    </div>
  {% endblock content %}