{% extends 'base.html' %} {% block content %}

<style>
  .name {
    padding: 20px 0;
    background-color: #ddd;
    margin: 10px 0;
    padding-left: 10px;
  }
</style>

<section class="ftco-section bg-light" id="cards">
  <div class="container card-styles">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="icon-wrap px-4 pt-4">
            <div
              class="icon d-flex justify-content-center align-items-center bg-info rounded-circle"
            >
              <span class="ion-logo-ionic text-light"></span>
            </div>
          </div>
          <div class="card-body pb-5 px-4">
            {% for agent in object_list %}
            <h5 class="card-title name">{{ agent.user.username }}</h5>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- - - - - -end- - - - -  -->

{% endblock content %}
